<div class='summary'>
    <div class="row">
        <div class="col-xs-12 col-sm-10">
            <strong> No. {{bill.id}}</strong> (Apartamento {{bill.apartment.name}}) -
            {{bill.description}} por {{pesos bill.dueAmount}}
            {{yield}}
        </div>
        <div class="col-xs-12 col-sm-2 text-right">
            {{#link-to view-link bill.id class="btn btn-default"}}Ver{{/link-to}}
        </div>
    </div>
</div>
