<div class='summary'>
    {{#link-to view-link bill.id class="btn btn-default"}}Ver{{/link-to}}
    <strong> No. {{bill.id}}</strong> (Apartamento {{bill.apartment.name}}) -
    {{bill.description}} por {{pesos bill.dueAmount}}
    {{yield}}
</div>
