<div class="container">
  <nav class="navbar navbar-default navbar-custom">
    <div class="container-fluid">
      <div class="navbar-header">
        {{#link-to "index" class="navbar-left"}}<img src="logo-small.png">{{/link-to}}
       </div>
      <ul class="nav nav-pills navbar-right">
      {{#if authenticated}}
        <li class="dropdown {{if dropDownOpen 'open'}}">
          <a href="#" class="dropdown-toggle" 
            {{action "toggleDropDown"}} role="button" aria-haspopup="true">
                <span class="glyphicon glyphicon-user font-lg"></span>
                <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li>
              <a href="" class="navbar-btn text-capitalize" 
              {{action "toggleDropDown"}}>{{username}}</a>
            </li>
            
            <li role="separator" class="divider"></li>
            
            <li>
              <a href="" class="navbar-btn" {{action "toggleDropDown"}} 
                {{action "logout"}}>Cerrar Sesi&oacute;n</a>
            </li>
          </ul>
        </li>
        {{else}}
           <li>{{#link-to "login" class="navbar-btn"}}Iniciar Sesi&oacute;n{{/link-to}}</li>
        {{/if}}
      </ul>  
    </div>
  </nav>
</div>
