<div class='summary'>
    {{yield}}
    {{outlay.createdOn.dayOfMonth}}/{{outlay.createdOn.monthValue}}/{{outlay.createdOn.year}} 
    {{translate outlay.category}}, <strong>{{pesos outlay.amount}}</strong>
    {{#if outlay.comment}} 
        ({{outlay.comment}})
    {{/if}}
</div>