<h2>Hist&oacute;rico de Facturas</h2>
<form {{action "search" on="submit"}}>
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-xs-6 col-sm-4">
                    <div class="form-group">
                        <label for="from">Desde</label>
                        {{input type="date" class="form-control" value=from id="from"}}
                    </div>
                </div>

                <div class="col-xs-6 col-sm-4">
                    <div class="form-group">
                        <label for="tp">Hasta</label>
                        {{input type="date" class="form-control" value=to id="to"}}
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6 col-md-2">
                    <div class="checkbox">
                      <label>{{input type="checkbox" checked=pending id="pending"}}Pendientes</label>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="checkbox">
                      <label>{{input type="checkbox" checked=awaitingConfirmation id="awaitingConfirmation"}}En espera de confirmación</label>
                    </div>
                </div>
                <div class="col-sm-6 col-md-2">
                    <div class="checkbox">
                      <label>{{input type="checkbox" checked=confirmed id="confirmed"}}Confirmadas</label>
                    </div>
                </div>
                <div class="col-sm-6 col-md-2">
                    <div class="checkbox">
                      <label>{{input type="checkbox" checked=rejected id="rejected"}}Rechazadas</label>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-default">Buscar</button>
      </div>
    </div>
</form>
{{#if errorMsg}}
     <div class="alert alert-danger">{{errorMsg}}</div>
{{/if}}

{{#search-panel results=results heading='Resultados' 
 noResultsMsg='No se encontraron resultados'}}
    {{#each results as |bill|}}
        {{#condo-bill-list-item view-link='condo.condo-bill' bill=bill}}
            <strong>
                {{translate bill.lastUpdateOn.month}}
                {{bill.lastUpdateOn.dayOfMonth}}, {{bill.lastUpdateOn.year}}
            </strong> ({{translate bill.paymentStatus}})
        {{/condo-bill-list-item}}
    {{/each}}
{{/search-panel}}

{{#if moreResultsToLoad}}
    <button class="btn btn-default" type="button" {{action "loadMoreResults"}}>
        Cargar m&aacute;s
    </button>
{{/if}}


