<h2>Tablero</h2>

<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4">
        {{#dashboard-panel icon='money-bag.png'}}
            <h4>Balance General</h4>
            <p>{{pesos model.condoStats.balance}}</p>
        {{/dashboard-panel}}
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4">
        {{#dashboard-panel icon='apartment.png'}}
            <h4>Apartamentos</h4>
            <p>{{model.condoStats.apartmentCount}}</p>
        {{/dashboard-panel}}
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4">
        {{#dashboard-panel icon='user.png'}}
            <h4>Residentes</h4>
            <p>{{model.condoStats.residentCount}}</p>
        {{/dashboard-panel}}
    </div>
</div>
<div class="monthly-balance">
    <div class="row">
        <div class="col-xs-12">
            <h4 class='header-with-divider'>Balance del Mes</h4>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4">
            {{#dashboard-panel icon='received-money.png'}}
                <h4>Recaudados</h4>
                <p>{{pesos model.billStats.paidConfirmedBillTotal}}</p>
                <p class="tiny-text">[en {{model.billStats.paidConfirmedBillCount}} factura(s)]</p>
            {{/dashboard-panel}}
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
            {{#dashboard-panel icon='outlay.png'}}
                <h4>Gastados</h4>
                <p>{{pesos model.outlayStats.amount}}</p>
            {{/dashboard-panel}}
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="row highlighted-info">
                <div class="col-xs-9">
                   <strong>Facturas pendientes:</strong>
                </div>
                <div class="col-xs-3 text-right">
                    <p>{{model.billStats.pendingBillCount}}</p>
                </div>
            </div>

            <div class="row highlighted-info">
                <div class="col-xs-9">
                    <strong>Facturas por confirmar: </strong>
                </div>
                <div class="col-xs-3 text-right">
                    <p>{{model.billStats.paidAwaitingConfirmationBillCount}}</p>
                </div>
            </div>

            <div class="row highlighted-info">
                <div class="col-xs-9">
                    <strong>Facturas rechazadas: </strong>
                </div>
                <div class="col-xs-3 text-right">
                    <p>{{model.billStats.rejectedBillCount}}</p>
                </div>
            </div>
        </div>
    </div>
</div>

{{#results-panel results=model.outlays heading='Gastos Recientes'
 noResultsMsg='No hay nuevos gastos este mes.'}}
    {{#each model.outlays as |outlay|}}
        {{outlay-list-item outlay=outlay}}
    {{/each}}
{{/results-panel}}
      