<h2>Tablero</h2>
<div class="row">
    <div class="col-xs-12">
        <h4>Balance General: <strong> {{pesos model.condoStats.balance}}</strong></h4>
    </div>

    <div class="col-xs-12">
        <p><strong>Apartamentos: </strong>{{model.condoStats.apartmentCount}}</p>
        <p><strong>Residentes: </strong>{{model.condoStats.residentCount}}</p>
    </div>
</div>

<div class="monthly-balance">
    <div class="row">
        <div class="col-xs-12">
            <h4 class='header-with-divider'>Balance del Mes</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4">
            <strong>Recaudados:</strong> {{pesos model.billStats.paidConfirmedBillTotal}}
            en {{model.billStats.paidConfirmedBillCount}} factura(s)           
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
            <strong>Gastados: </strong>{{pesos model.outlayStats.amount}}
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4">
            <strong>Facturas pendientes: </strong>{{model.billStats.pendingBillCount}}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4">            
            <strong>Facturas por confirmar: </strong>
            <span class="badge">
                {{model.billStats.paidAwaitingConfirmationBillCount}}
            </span>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
            <strong>Facturas rechazadas: </strong>
            <span class="badge">{{model.billStats.rejectedBillCount}}</span>
        </div>
    </div>
</div>

{{#search-panel results=model.outlays heading='Gastos Recientes'
 noResultsMsg='No hay nuevos gastos este mes.'}}
    {{#each model.outlays as |outlay|}}
        {{outlay-list-item outlay=outlay}}
    {{/each}}
{{/search-panel}}
      