<h2>Facturas por pagar </h2>
<h4>Debes: {{pesos totalDue}}</h4>

{{#search-panel results=model noResultsMsg='No hay facturas por pagar'}}
   {{#each model as |bill|}}
        <div class='summary'>
            {{#link-to "condo.due-bill" bill class="btn btn-default"}}Pagar{{/link-to}}

            <strong> No. {{bill.id}}</strong> - Pago {{translate bill.paymentStatus}},
            {{bill.description}} por {{pesos bill.dueAmount}}- 
            <strong>
                pague antes de {{translate bill.dueDate.month}} {{bill.dueDate.dayOfMonth}}/{{bill.dueDate.year}}
            </strong>
        </div>
    {{/each}}
{{/search-panel}}

