<a href="#" {{action 'back'}} class="active ember-view">
    <span class="glyphicon glyphicon-hand-left"></span> Volver
</a>
{{action-message errorMsg=errorMsg successMsg=successMsg}}
<h2>Pagar Factura No. <strong>{{model.id}}</strong></h2>
{{bill-summary bill=model}}
<div class="form-group row">
    <div class="col-xs-6 col-sm-4 col-md-3">
        <div class="margin-box">
            <label for="method">Forma de Pago</label>
            <select class="form-control" onchange={{action "selectPaymentMethod" value="target.value"}}>
              {{#each paymentMethods as |paymentMethod|}}
                <option value={{paymentMethod.value}} selected={{eq model.paymentMethod paymentMethod.value}}>
                {{paymentMethod.label}}</option>
              {{/each}}
            </select>
        </div>
    </div>
</div>
<div class="form-group row">
    <div class="col-xs-12">
        <img src="{{proofOfPaymentImgSrc}}" class='img-responsive img-preview'>
        {{#x-file-input name="files" multiple=false action=(action "didSelectFiles") accept="image/*"}}
            <label for="proofOfPayment" class="btn btn-default btn-outlined" 
                    {{action "showLoadedImage"}}>Agregar Comprobante
            </label>
        {{/x-file-input}}
    </div>
</div>
<button class="btn btn-primary" type="button" {{action "sendPayment"}}>
    Enviar {{#if sendPaymentLoading}}<img class="img-tiny" src="{{rootURL}}/loading.gif">{{/if}}
</button>