<h2>Pago No. {{model.id}}</h2>
<div class='summary'>
    <p><strong>Categoria: </strong> {{translate model.category}}</p>
    <p><strong>Monto: </strong>{{pesos model.amount}}</p>
    <p><strong>Comentario: </strong>{{model.comment}}</p>
    <p><strong>Suplidor: </strong>{{model.supplier}}</p>
    <p>
        <strong>Realizado en: </strong>{{translate model.createdOn.month}} 
        {{model.createdOn.dayOfMonth}} de {{model.createdOn.year}}
    </p>
</div>

{{resizable-img img=receiptImg}}

{{#if (not isResident)}}
    {{#bs-button class="btn btn-danger" onClick=(action (mut deleteModalVisible) true)}}Eliminar{{/bs-button}}
{{/if}}

{{#if errorMsg}}
    <div class="alert alert-danger">{{errorMsg}}</div>
{{/if}}
{{#if successMsg}}
    <div class="alert alert-success">{{successMsg}}</div>
{{/if}}

{{#bs-modal open=deleteModalVisible title="Eliminar Factura" 
    size="sm" onSubmit=(action "deleteReceipt") onHidden=(action (mut deleteModalVisible) false) as |modal|}}
  {{#modal.header}}<h4 class="modal-title">Eliminar Pago</h4>{{/modal.header}}
  {{#modal.body}}<p>Desea eliminar esta pago?</p>{{/modal.body}}
  {{#modal.footer}}
    {{#bs-button onClick=(action modal.close)}}Cancelar{{/bs-button}}
    {{#bs-button class="btn btn-primary" onClick=(action modal.submit)}}Aceptar{{/bs-button}}
  {{/modal.footer}}
{{/bs-modal}}


