<a href="#" {{action 'back'}} class="active ember-view">
    <span class="glyphicon glyphicon-hand-left"></span> Volver
</a>

{{action-message errorMsg=errorMsg successMsg=successMsg}}
{{bill-summary-condo bill=model}}
{{payment-info bill=model}}

<button type="button" class="btn btn-success" {{action "confirmBill"}}>
    Confirmar {{#if loadingConfirm}}<img class="img-tiny" src="{{rootURL}}/loading.gif">{{/if}}
</button>
<button type="button" class="btn btn-default" {{action "rejectBill"}}>
    Rechazar {{#if loadingReject}}<img class="img-tiny" src="{{rootURL}}/loading.gif">{{/if}}
</button>