<div class="container">
    <div class="row">
         <div class="col-xs-12">
            <h1>Selecciona un Condominio</h1>
         </div>
    </div>

    <div class="row">
        {{#each model as |condo|}}
            <div class="col-xs-12 col-sm-5 col-md-3">                
                <div class="thumbnail">
                    <img src="{{imgHost}}/condos/{{condo.id}}/img" 
                     class="img-responsive" alt="Foto {{condo.name}}">
                    <div class="caption">
                        {{#link-to "condo" condo.id}}<h3> {{condo.name}}</h3>{{/link-to}}
                        <p>{{condo.address}}</p>
                        <p>Contacto: {{condo.contactName}} {{condo.contactPhone}}</p>
                    </div>
                </div>                
            </div>
        {{/each}}
    </div>
</div>
