<div class="container">
    <div class="row">
        <div class="col-xs-9">
            <h1>Building {{model.bs.stats.building.name}}</h1>
            <h3>Managed by: {{model.bs.stats.building.manager.name}}</h3>
        </div>
        <div class="col-xs-3 text-right">
            <p>Aparts: {{model.bs.stats.apartmentCount}} </p>
            <p>Residents:{{model.bs.stats.residentCount}}</p>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <p class="big-text">Account Balance: <strong> {{pesos model.bs.stats.balance}}</strong></p>
        </div>
    </div>

    <div class="row">
        <div class='col-xs-12 col-sm-6'>    
            <div class="panel panel-info">
                <div class="panel-heading">Latest Payments</div>  
                <div class="panel-body">
                    {{#each model.payments as |payment|}}
                        <div class='payment-summary'>
                            {{payment.apartment.name}},  
                            by {{payment.createdBy.name}} -
                            <strong> 
                                {{pesos payment.amount}} -
                                {{payment.method}}
                            </strong>
                            ({{payment.status}})
                        </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
   
</div>
{{outlet}}
