<div class="container">
    <div class="row">
        <div class="col-xs-8">
            <h3>Edificio {{model.b.name}}</h3>
            <h4>Administrado por: {{model.b.manager.name}}</h4>
        </div>
        <div class="col-xs-4 text-right">
                <p><strong>Apartamentos: </strong>{{model.bSts.stats.apartmentCount}}</p>
                <p><strong>Residentes: </strong>{{model.bSts.stats.residentCount}}</p>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <h4>Balance de la Cuenta: <strong> {{pesos model.bSts.stats.balance}}</strong></h4>
        </div>
    </div>

    <div class="monthly-balance">
        <div class="row">
            <div class="col-xs-12">
                <h4 class='header-with-divider'>Balance del Mes</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4">
                <strong>Recaudados:</strong> {{pesos model.billSts.stats.paidBillTotal}}
                in <strong>{{model.billSts.stats.paidBillCount}}</strong> apartment(s)           
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <strong>Gastados: </strong>{{pesos model.os.stats.amount}}
            </div>

            <div class="col-xs-12 col-sm-6 col-md-4">
                <strong>Facturas Pendientes: </strong>{{model.billSts.stats.pendingBillCount}}
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                {{#if model.billSts.stats.pendingBillCount}}
                    <button class="btn btn-warning padded-bottom" type="button">
                        Facturas por Validar: <span class="badge">{{model.billSts.stats.pendingBillCount}}</span>
                    </button>
                {{/if}}
                {{#if model.billSts.stats.rejectedBillCount}}
                    <button class="btn btn-danger padded-bottom" type="button">
                        Pagos Rechazados: <span class="badge">{{model.billSts.stats.rejectedBillCount}}</span>
                    </button>
                {{/if}}
            </div>
        </div>
    </div>

    <div class="row">
        <div class='col-xs-12 col-sm'>    
            <div class="panel panel-info">
                <div class="panel-heading">Ultimos Gastos</div>  
                <div class="panel-body">
                    {{#unless model.outlays.length}}
                        <div class='summary'>
                            No hay nuevos gastos este mes.
                        </div>
                    {{/unless}}

                    {{#each model.outlays as |outlay|}}
                        <div class='summary'>
                            {{translate outlay.category}}, <strong>{{pesos outlay.amount}}</strong>
                            on {{translate outlay.createdOn.month}} {{outlay.createdOn.dayOfMonth}},
                            {{#if outlay.comment}}
                                ({{outlay.comment}})
                            {{/if}}
                        </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div> 
</div>
{{outlet}}
